<html>
  <head>
    <title>Search Employee</title>
  </head>
  <body>
    <form action="http://127.0.0.1:8888/search" method="post">
      <input type="radio" name="choice" value="empno">Employee Number</input><p>

      <input type="radio" name="choice" value="ename">Employee Name</input><p>

      <input type="radio" name="choice" value="deptno">Department Number</input><p>

      <input type="text" name="keyword"/>
      <input type="submit" value="Search"/>
    </form>
  </body>
</html>
